<% provide(:title, "Login") %>
<% content_for :head do %>
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'login', 'data-turbolinks-track': 'reload' %>
<% end %>

<h1 class="header-login">MANAGEMENT</h1>

<div class="content-login">
    <%= form_for(:session, url: login_path) do |form| %>
        <div class="mg-top-small">
            <%= form.label :mailInput, "Email", class: "form-label font-weight-bold font-size-label" %>
            <%= form.text_field :mailInput, placeholder: "Please enter Email", class: "form-control style-input", value: params[:session] ? params[:session][:mailInput] : '' %>
            <div class="error-box" id="error-box-email" style="height: 2.5rem">
                <%= flash[:empty_email] || '' %>
                <%= flash[:limit_email] || '' %>
                <%= flash[:format_email] || '' %>
            </div>
        </div>
        <div class="mg-top-small">
            <%= form.label :passwordInput, "Password", class: "form-label font-weight-bold font-size-label" %>
            <%= form.text_field :passwordInput, placeholder: "Please enter Password", class: "form-control style-input", type: "password", value: params[:session] ? params[:session][:passwordInput] : '' %>
            <div class="error-box" id="error-box-password" style="height: 2.5rem">
                <%= flash[:empty_password] || '' %>
            </div>
        </div>
        <div class="display-flex">
            <input class="btn btn-login" value="Login" readonly="readonly">
            <a href="javascript:void(0)" class="btn btn-sign-up">Sign up</a>
        </div>
    <% end %>
    <div class="flash-danger failed-login">
        <%= flash[:login_failed] || '' %>
    </div>
</div>
