<% company_code_error = nil %>
<% company_name_error = nil %>
<% address_error = nil %>
<% company_email_error = nil %>
<% phone_number_error = nil %>
<% website_url_error = nil %>
<% logo_error = nil %>

<% if @company.errors.any? %>
    <% @company.errors.messages.each do |attribute, message| %>
        <% if attribute == :company_code %>
            <% company_code_error = message[0] %>
        <% elsif attribute == :"company_profiles.company_name" %>
            <% company_name_error = message[0] %>
        <% elsif attribute == :"company_profiles.address" %>
            <% address_error = message[0] %>
        <% elsif attribute == :"company_profiles.company_email" %>
            <% company_email_error = message[0] %>
        <% elsif attribute == :phone_number %>
            <% phone_number_error = message[0] %>
        <% elsif attribute == :"company_profiles.website_url" %>
            <% website_url_error = message[0] %>
        <% elsif attribute == :"company_profiles.logo" %>
            <% logo_error = message[-1] %>
        <% end %>
    <% end %>  
<% end %>
<%= form_for @company, html: { class: "col-lg-12 col-sm-12", id: "company-register-frm" } do |f| %>
    <div class="form-wrapper mt-4 register-company-error mr-0 d-flex">
        <table id="table-company-frm" class="table col-lg-6 col-sm-6 font-weight-bold" style="width: 700px;">
            <tr>
                <td width="30%">
                    <%= f.label :company_code do %>
                        Company Code<span class="text-danger"> *</span>
                    <% end %>
                </td>
                <td width="80%">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <%= f.text_field :company_code, class: "form-control", placeholder:"Company code" %>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="error-text" height="20px">
                <td></td>
                <td class="register-company-error" id="company_code_error">
                    <% if company_code_error %>
                        <div id="company_code_error_detail"><%= company_code_error %></div>
                    <% end %>
                </td>
            </tr>

            <%= f.fields_for :company_profiles do |profile| %>
                <%= profile.hidden_field :display_time, value: Time.now.strftime("%Y/%m/%d") %>
            <tr>
                <td>
                    <%= profile.label :company_name do %>
                        Company Name<span class="text-danger"> *</span>
                    <% end %>
                </td>
                <td>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <%= profile.text_field :company_name, class: "form-control", placeholder:"Please enter Company name" %>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="error-text" height="20px">
                <td></td>
                <td class="register-company-error">
                    <% if company_name_error %>
                        <%= company_name_error %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= profile.label :address do %>
                        Address<span class="text-danger"> *</span>
                    <% end %>
                </td>
                <td>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <%= profile.text_field :address, class: "form-control", placeholder:"Please enter Address" %>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="error-text" height="20px">
                <td></td>
                <td class="register-company-error">
                    <% if address_error %>
                        <%= address_error %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= profile.label :company_email do %>
                        Email<span class="text-danger"> *</span>
                    <% end %>
                </td>
                <td>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <%= profile.text_field :company_email, class: "form-control", placeholder:"Please enter Email" %>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="error-text" height="20px">
                <td></td>
                <td class="register-company-error">
                    <% if company_email_error %>
                        <%= company_email_error %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= profile.label :phone_number do %>
                        Phone number<span class="text-danger"> *</span>
                    <% end %>
                </td>
                <td>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <%= profile.text_field :phone_number, class: "form-control", placeholder:"Please enter Phone number" %>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="error-text" height="20px">
                <td></td>
                <td class="register-company-error" id="phone_number_error">
                    <% if phone_number_error %>
                            <div id="phone_number_error_detail"><%= phone_number_error %></div>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= profile.label :website_url, 'Website' %>
                </td>
                <td>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <%= profile.text_field :website_url, class: "form-control", placeholder:"Please enter Website" %>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="error-text" height="20px">
                <td></td>
                <td class="register-company-error">
                    <% if website_url_error %>
                        <%= website_url_error %>
                    <% end %>
                </td>
            </tr>
        </table>
        <table class="col-lg-6 col-sm-6 upload-logo font-weight-bold">
            <tr height="114px">
                <td>
                    <div>
                        <%= profile.label :logo do %>
                            Logo<span class="text-danger"> *</span>
                        <% end %>
                    </div>
                    <% logo = profile.object.logo.blank? ? 'logo' : profile.object.logo.url %>
                    <%= image_tag(logo, alt: "preview image", class: "d-block logo-img", id: "preview-image") %>
                    <div class="btn btn-upload">
                        <%= profile.label :logo do %>
                            <em class="fa fa-camera"></em> upload
                        <% end %>
                        <%= profile.file_field :logo, onchange: "showPreview(event);" %>
                    </div>
                </td>
                <td class="register-company-error error-text" id="error-logo">
                    <% if logo_error %>
                        <%= logo_error %>
                    <% end %>
                </td>
            </tr>
        </table>
            <% end %>
    </div>

    <div class="col-lg-12 col-sm-12 d-flex justify-content-end align-items-center my-4">
        <ul class="nav group-btn">
            <li class="nav-item">
                <%= f.submit "Register", class: "btn btn-register" %>
            </li>
            <li class="nav-item">
                <%= link_to "Back", companies_path, class: "btn btn-dark" %>
            </li>
        </ul>
    </div>
<% end %>
